@import '../Variables.scss';

.messages {
  position: absolute;
  z-index: 10000;
  top: 20px;
  right: 20px;

  .message {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    background: lighten($colorHighlight, 10);
    width: 100%;
    box-shadow: 0 2px 4px rgba(darken(yellow, 30), .5);
    animation: fadein .5s;
    opacity: .8;

    .align-right {
      text-align: right;
    }

    a {
      color: black;
    }
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .8; }
  }
}

@media (max-width: 680px) {
  .messages {
    top: 64px;
    left: 0;
    right: 0;
    padding: 20px;
    z-index: 1500;
  }
}
