.slide.cascade {
  background: blue url('../images/cascade/background.jpg') no-repeat center bottom fixed;
  background-size: cover;

  .center-item {
    background: transparent;
  }

  .icon {
    height: 42px;
    margin-top: -17px;
    margin-right: 5px;
  }
}
