.slide.confirmation {
  background: blue url('../images/sparkler.jpg') no-repeat center top fixed;
  background-size: cover;

  h1, h2 {
    margin-top: 0;
  }

  .center-item {
    background: rgba($black, .5);
    padding: 50px 20px;

    @media screen and (max-width: 768px) {
      background: rgba($black, .5);
      text-align: left;
    }

    .confirm-text {
      margin: auto;

      @media screen and (min-width: 768px) {
        max-width: 50%;
      }
    }

    .invite-url {
      margin-top: 20px;
      word-break: break-all;
      @media screen and (max-width: 768px) {
        margin-top: 20px;
      }
    }
  }
}
