// Colors
$black: black;
$white: white;
$highlight: #401f44;

$headline-font: "freight-display-pro";

body {
  color: rgba($white, 1);
  background: $highlight;
}

.highlight {
  display: inline;
  background: $highlight;
}

p {
  font-family: $headline-font;
}

a {
  color: lighten($highlight, 40);
}

h1,
h2,
h3,
h4,
h5 {
  color: $white;
  font-family: $headline-font;
}

h1 {
  font-size: 48px;
}

.btn {

  &.btn-primary {
    background: transparent;
    border: solid 1px $white;
    color: $white;
    font-family: $headline-font;
    border-radius: 1px;
  }
}

.slide {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.right {
  text-align: right;
  @media screen and (max-width: 768px) {
    text-align: left;
  }
}

.center {
  text-align: center;
  @media screen and (max-width: 768px) {
    text-align: left;
  }
}

.left {
  text-align: left;
}

.center-item {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  opacity: 1;
  background: rgba($black, .8);
  padding: 20px;
}

.top-item {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 100%;
  background: rgba($black, .8);
  padding: 20px;
}

.bottom-item {
  width: 100%;
  margin:auto;
  text-align: center;
  position: absolute;
  bottom: 20%;
  opacity: 1;
  background: rgba($black, .8);
  padding: 20px;
}

.view-animate {
  padding:10px;
}

.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;

  display:block;
  width:100%;

  position:absolute;
  left:0;
  padding:10px;
}

.view-animate.ng-enter {
  opacity: 0;
}
.view-animate.ng-enter.ng-enter-active {
  opacity: 1;
}
.view-animate.ng-leave.ng-leave-active {
  opacity: 0;
}
