<style>
  td,p,li,strong,a {
    font-size: 18px;
    color: #000;
    font-weight: 300;
  }

  .button {
    display: block;
    padding: 10px 30px;
    font-size: 18px;
    font-family: arial;
    background: #ffff70;
    color: black;
    text-align: center;
    width: 100%;
    border-radius: 3px;
    text-decoration: none;
    font-weight: 300;
  }

  .logo-header {
    text-align: center;
    padding: 20px 0;
  }

  .logo {
    font-size: 60px;
    font-weight: 300;
    color: white;
    width: 400px;
  }

  a {
    background: #ffff70;
    position: inline-block;
    padding: 2px 4px;
    text-decoration: none;
  }
</style>
<table>
  <tbody>
    <tr>
      <td class="logo-header">
        <img class="logo" src="https://wearefreeradicals.org/logo.png"></img>
      </td>
    </tr>
    <tr>
      <td>
        <p>Hey!</p>
        <p>Excited for In Good Company? So are we! Here’s some things to get you going <i>oooooh weeee..</i></p>
        <p><strong>The Cocktail Menu</strong></p>
        <ul>
          <li><i>Daffled Whitetail:</i> Gracefully prance alongside whiskey, cider & lavender</li>
          <li><i>Gila Monster:</i> A venomous path for tequila & cranberry lovers</li>
          <li><i>Funky Fennec:</i> Radiate with refreshing gin, citrus & sparkling Prosecco</li>
        </ul>
        <p>Also many thanks to <a href="https://www.fiveboroughs.com/">Five Boroughs</a>for an assortment of amazing brews!</p>
        <p><strong>On the 1's & 2's</strong></p>
        <ul>
          <li><a href="https://soundcloud.com/asesioo/broads-in-atlanta-mix">Tomas Asesio:</a> Getting the party started with some dancy deep house & future house.. Get ready to vibe to some groovy tunes</li>
          <li><a href="https://soundcloud.com/hippietrapmusic/camp-bisco-mix-2017">Hippietrap:</a>Bringing that funky fresh—with a blend of electronic funk, hiphop & rockin’ slow-hand blues guitar riffs to tie it all together.. This unique mix of retro & new school sounds will keep you dancing all night</li>
        </ul>
        <p><strong>Enter to win</strong></p>
        <ul>
          <li><a href="https://www.brew-watches.com/">Brew Watches:</a> The original Darkbrew HP-1 Automatic men’s watch inspired by industrial espresso machines & the rituals behind much-needed coffee breaks.</li>
          <li><a href="https://sundayforever.com/">Sunday Forever:</a>Beautiful kimono made for comfort & magic from an NYC-based designer.</li>
          <li><a href="http://betsyhinze.com/">Betsy Hinze:</a>An eclectic array of handcrafted glass & ceramic items that are inspired by the landscapes of the Pacific Northwest. The talented artist also curates intricate, nature-driven experiences.</li>
          <li><a href="http://kingscountydistillery.com/">King's County Distillery:</a>A bottle & tour certificate from NYC's oldest whiskey distillery since the prohibition.</li>
        </ul>
        <p>Final details on location coming soon...</p>
        </p>
        <p>Feel free to email if you have questions (<a href="mailto://info@wearefreeradicals.org">info@wearefreeradicals.org</a>)!</p>
        <p>--the Free Radicals</p>
      </td>
    </tr>
  </tbody>
</table>
