<style>
  td,p,li,strong,a {
    font-size: 18px;
    color: #000;
    font-weight: 300;
  }

  .button {
    display: block;
    padding: 10px 30px;
    font-size: 18px;
    font-family: arial;
    background: #ffff70;
    color: black;
    text-align: center;
    width: 100%;
    border-radius: 3px;
    text-decoration: none;
    font-weight: 300;
  }

  .logo-header {
    text-align: center;
    padding: 20px 0;
  }

  .logo {
    font-size: 60px;
    font-weight: 300;
    color: white;
    width: 400px;
  }
</style>
<table>
  <tbody>
    <tr>
      <td class="logo-header">
        <img class="logo" src="https://wearefreeradicals.org/logo.png"></img>
      </td>
    </tr>
    <tr>
      <td>
        <p>Hi!</p>
        <p>We are Free Radicals. We find inspiration by connecting amazing humans with other amazing humans. We're a group of artists, technologists, and friends, interested in improving the world around us—and meeting new inspiring people along the way.</p>
        <p><strong>{{ user.firstName }} {{ user.lastName }}</strong> suggested we invite you to our fall party, In Good Company, benefiting the charity <a href="https://missamazing.org/">Miss Amazing</a>.--a nonprofit organization dedicated to providing opportunities for girls & women with disabilities to build confidence, develop important life skills, and to make themselves more seen & heard in their communities.</p>
        <p>Our goal is to bring together New York's best thinkers around arts & technology to dance, drink cocktails, and hang out with causes we support.</p> Hopefully out of this will come great connections and a better world overall.</p>
        <ul>

          <li><strong>When:</strong> October 14th, 2017 @ 8PM</li>
          <li><strong>Where:</strong> An intimate, creative firehouse loft in Williamsburg—Location details sent closer to the date</li>
          <li><strong>Tickets:</strong> $25. Includes all cocktails, beer, wine & snacks for the evening. Also got a pretty cool raffle in store. All profits go to Miss Amazing.</li>
        </ul>
        <p>
          <a class="button" href="https://wearefreeradicals.org/{{ params.uid }}/{{ params.iid }}">RSVP!</a>
        </p>
        <p>I hope you can make it. Make sure to RSVP. And, feel free to email if you have questions (info@wearefreeradicals.org)!</p>
        <p>--Lindsay & the rest of the Free Radicals</p>
      <p>PS. We're completely non-profit and all proceeds from each event go to the charity we select!</p>
      </td>
    </tr>
  </tbody>
</table>
