<style>
  td,p,li,strong,a {
    font-size: 18px;
    color: #000;
    font-weight: 300;
  }

  .button {
    display: block;
    padding: 10px 30px;
    font-size: 18px;
    font-family: arial;
    background: #ffff70;
    color: black;
    text-align: center;
    width: 100%;
    border-radius: 3px;
    text-decoration: none;
    font-weight: 300;
  }

  .logo-header {
    text-align: center;
    padding: 20px 0;
  }

  .logo {
    font-size: 60px;
    font-weight: 300;
    color: white;
    width: 400px;
  }

  a {
    background: #ffff70;
    position: inline-block;
    padding: 1px 4px;
    text-decoration: none;
  }
</style>
<table>
  <tbody>
    <tr>
      <td class="logo-header">
        <img class="logo" src="https://wearefreeradicals.org/logo.png"></img>
      </td>
    </tr>
    <tr>
      <td>
        <p>Hi!</p>
        <p>You're cordially invited to In Good Company, a pop-up dance party in Williamsburg on Oct. 14th.</p>
        <p>In Good Company is hosted by the <a href="https://wearefreeradicals.org">Free Radicals</a>. We're a group of artists, technologists & friends, interested in improving the world around us—and connecting amazing humans with other amazing humans along the way.</p>
        <p>You received an invite because {{ user.firstName }} said that you were awesome and suggested we invite you.</p>
        <p>The event supports <a href="https://missamazing.org/">Miss Amazing</a>--a nonprofit organization dedicated to providing opportunities for girls & women with disabilities to build confidence and develop important life skills.</p>
        <ul>
          <li><strong>When:</strong> October 14th, 2017 @ 8PM</li>
          <li><strong>Where:</strong> An intimate firehouse loft in Williamsburg—address to be announced the week of the party.</li>
          <li><strong>Tickets:</strong> $25. Includes all cocktails, beer, wine & snacks for the evening.</li>
        </ul>
        <p>
          <a class="button" href="https://wearefreeradicals.org/{{ params.uid }}/{{ params.iid }}">RSVP!</a>
        </p>
        <p>I hope you can make it. Make sure to RSVP. And, feel free to email if you have questions (info@wearefreeradicals.org)!</p>
        <p>--Free Radicals</p>
      <p>PS. We're completely non-profit and all proceeds from each event go to the charity we select!</p>
      </td>
    </tr>
  </tbody>
</table>
