<table>
  <tbody>
    <tr>
      <td style="padding: 20px; border-bottom: solid 1px black">
        <h1>FREE RADICALS</h1>
      </td>
    </tr>
    <tr>
      <td style="padding: 20px">
        <p>Hi!</p>
        <p>You're invited to FALL, the <a href="https://wearefreeradicals.org">Free Radicals</a> Fall loft party in Brooklyn, benefiting <a href="https://missamazing.org/">Miss Amazing</a>.</p>
        <ul>
          <li><strong>When:</strong> October 14th, 2017 @ 8PM</li>
          <li><strong>Where:</strong> 123 Acme St., Williamsburg, NY</li>
          <li><strong>What:</strong> Open bar, Dancing and Art in a cozy Williamsburg loft</li>
          <li><strong>Who:</strong> Invite only (you were invited by <strong>{{ firstName }} {{ lastName }}</strong>). Entry will be carefully enforced at the door</li>
          <li><strong>Tickets:</strong> $25. Include drinks for the evening. All profits go to Miss Amazing</li>
        </ul>
        <p>We're ushering in fall with a night of dancing, cocktails and good friends at a cozy loft in Brooklyn. There will be an open bar, two DJs, and a great crew!</p>
        <p>
          <a style="display: block; padding: 10px 30px; font-size: 24px; font-family: arial; background: black; color: white; text-align: center; width: 100%" href="https://wearefreeradicals.org/{{ uID }}/{{ inviteID }}">RSVP!</a>
        </p>
        <p>This event is an invite-only charity in support of Miss Amazing. You're receiving an invite because  told us that you were one of a small group of people who inspired them.</p>
        <h4>About Free Radicals</h4>
        <p>We're a group of friends who get together in New York once in a while to support various charities and, at the same time throwing awesome parties.</p>
      </td>
    </tr>
  </tbody>
</table>
