<style>
  td,p,li,strong,a {
    font-size: 18px;
    color: #000;
    font-weight: 300;
  }

  .button {
    display: block;
    padding: 10px 30px;
    font-size: 18px;
    font-family: arial;
    background: #ffff70;
    color: black;
    text-align: center;
    width: 100%;
    border-radius: 3px;
    text-decoration: none;
    font-weight: 300;
  }

  .logo-header {
    text-align: center;
    padding: 20px 0;
  }

  .logo {
    font-size: 60px;
    font-weight: 300;
    color: white;
    width: 400px;
  }

  a {
    background: #ffff70;
    position: inline-block;
    padding: 2px 4px;
    text-decoration: none;
  }
</style>
<table>
  <tbody>
    <tr>
      <td class="logo-header">
        <img class="logo" src="https://wearefreeradicals.org/logo.png"></img>
      </td>
    </tr>
    <tr>
      <td>
        <p>Hey!</p>
        <p>In Good Company is only {{ formatRelative eventDate units="day" }} days away! You have a few friends who haven't RSVP'd yet.</p>
        <p>Wanna send a reminder? Check 'em out here.</p>
        <p>
          <a class="button" href="https://wearefreeradicals.org/{{ params.uid }}/{{ params.iid }}">My Profile</a>
        </p>
        <p>Feel free to email if you have questions (<a href="mailto://info@wearefreeradicals.org">info@wearefreeradicals.org</a>)!</p>
        <p>--the Free Radicals</p>
      </td>
    </tr>
  </tbody>
</table>
