@import './Grid.scss';
@import './variables.scss';

body {
  background-color: black;
  font-family: $fontRegular;
  font-weight: 300;

  .logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
    max-width: 150px;
    text-align: left;

    img {
      width: 100%;
    }
  }

  p,ul,ol,h4,h5,h6,button,a,.btn,label {
    font-family: $fontRegular;
    font-weight: 300;
    line-height: 2em;
  }

  h1,h2,h3 {
    font-family: $fontHeadline;
    font-weight: 800;
  }

  label, .label {
    display: inline-block;
    background: $colorHighlight;
    line-height: 14px;
    padding: 4px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
  }
  .btn {

    border-radius: 1px;

    &.btn-primary {
      background: black;
      border: none;
      color: white;
    }

    &.btn-white {
      background: rgba(white, 1);
      color: black;
    }

    &.btn-blue{
      background: rgba(blue, 1);
      color: white;
    }

    &.btn-turq {
      background: rgba(#09a6ad, 1);
      color: white;
    }

    &.btn-red {
      background: rgba(red, 1);
      color: white;
    }
  }

  .center {
    text-align: center;
    width: 100%;
  }

  .full-width {
    width: 100%;
  }

  .logo-text {
    color: rgba(#0f22ff, .5);
  }

  input.form-control {
    border: none;
    border-radius: 0px;
    border-bottom: solid 6px $colorLight;
    font-family: $fontRegular;
  }

  input.input-hidden {
    position: absolute;
    left: 100000;
    top: 100000;
    border: none;
    background: transparent;
    color: transparent;
    opacity: 0;
  }

  .block-white {
    background: #CDCDCD;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(black, .4);
  }

  .block-block {
    background: black;
    color: white;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(black, .4);
  }
}
