@import './Grid.scss';
@import './variables.scss';

body {
  background: black;
  background-position: center bottom;
  font-family: $fontRegular;
  font-weight: 300;

  .logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
    max-width: 150px;
    text-align: left;

    img {
      width: 100%;
    }
  }

  p,ul,ol,h4,h5,h6,button,a,.btn,label,em,strong,span {
    font-family: $fontRegular;
    font-weight: 300;
    line-height: 2em;
  }

  h1,h2,h3 {
    font-family: $fontHeadline;
    font-weight: 300;
    color: #444;
    margin: 10px 0;
    padding: 0;
    text-transform: uppercase;
  }

  label, .label {
    display: inline-block;
    background: $colorHighlight;
    line-height: 14px;
    padding: 4px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;

    &.label-blue {
      background: #0099FF;
      color: white;
    }

    &.label-green {
      background: #009966;
      color: white;
    }

    &.label-yellow {
      background: $colorHighlight;
      color: black;
      a {
        color: black;
      }
    }
  }
  .btn {

    border-radius: 1px;

    &.btn-primary {
      background: black;
      border: none;
      color: white;
    }

    &.btn-white {
      background: rgba(white, 1);
      color: black;
    }

    &.btn-blue{
      background: rgba(blue, 1);
      color: white;
    }

    &.btn-turq {
      background: rgba(#09a6ad, 1);
      color: white;
    }

    &.btn-red {
      background: rgba(red, 1);
      color: white;
    }

    &.btn-yellow {
      background: $colorHighlight;
      color: black;
    }
  }

  .center {
    text-align: center;
    width: 100%;
  }

  .full-width {
    width: 100%;
  }

  .logo-text {
    color: rgba(#0f22ff, .5);
  }

  input.form-control {
    border: none;
    border-radius: 0px;
    border-bottom: solid 6px $colorLight;
    font-family: $fontRegular;
  }

  input.input-hidden {
    position: absolute;
    left: 100000;
    top: 100000;
    border: none;
    background: transparent;
    color: transparent;
    opacity: 0;
  }

  .block-white {
    background: #CDCDCD;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(black, .4);
  }

  .block-block {
    background: black;
    color: white;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(black, .4);
  }

  .navbar {
    background: $colorHighlight;
    width: 33.3334vw;
    overflow: hidden;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;

    .navbar-collapse {
      border-top: solid 1px black;
    }

    .navbar-brand {
      font-family: $fontHeadline;
      font-size: 24px;
      line-height: 24px;

      .gray {
        color: #555;
      }

      &.mobile {
        display: none;
      }
    }

    button {
      background: transparent;
      border: none;
      font-size: 20px;
      &:focus {outline:0;}
    }
  }

  .text-red {
    color: #FF0000;
  }

  .text-blue {
    color: #5599CC;
  }

  .text-turq {
    color: #99AACC;
  }

  .text-yellow {
    color: lighten(yellow, 20);
  }

  .text-white {
    color: white;
  }
}

@media (max-width: 680px) {
  body {
    background-attachment: fixed;
    background: black url('../images/bg/pexels-photo-270859.jpeg');

    .navbar {
      width: 100%;
      position: fixed;
      z-index: 2000;
    }

    p:last-child {
      margin-bottom: 0;
    }
    .navbar {
      .navbar-brand {
        display: none;

        &.mobile {
          display: block;
        }
      }
    }
  }
}
