@import './Grid.scss';
@import './variables.scss';

body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;

  .logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
    max-width: 150px;
    text-align: left;

    img {
      width: 100%;
    }
  }

  p,ul,ol,h4,h5,h6,button,a,.btn,label {
    font-family: $fontRegular;
    font-weight: 300;
    line-height: 2em;
  }

  h1,h2,h3 {
    font-family: $fontHeadline;
    font-weight: 800;
  }

  .btn {
    &.btn-primary {
      background: black;
      border: none;
      color: white;
    }

    &.btn-white {
      background: rgba(white, 1);
      color: black;
    }

    &.btn-blue{
      background: rgba(blue, 1);
      color: white;
    }

    &.btn-turq {
      background: rgba(#09a6ad, 1);
      color: white;
    }

    &.btn-red {
      background: rgba(red, 1);
      color: white;
    }
  }

  .center {
    text-align: center;
    width: 100%;
  }

  .full-width {
    width: 100%;
  }

  .logo-text {
    color: rgba(#0f22ff, .5);
  }

  input.form-control {
    border: none;
    border-radius: 0px;
    border-bottom: solid 6px $colorLight;
    font-family: $fontRegular;
  }
}
