$colorDark: black;
$colorLight: #DDD;
$colorHighlight: lighten(yellow, 22);

@font-face {
    font-family: Jaapokkie;
    src: url(/fonts/jaapokkienchance-regular.woff);
}

$fontRegular: 'Montserrat', sans-serif;
$fontHeadline: 'Jaapokkie', sans-serif;
