@import '../Variables.scss';

.invite-box {
  margin-top: 40px;
}

.invite-url {
  a {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.table {
  .invite-tr {
    &:last-child {
      td {
        border: none;
      }
    }
    td {
      // border-bottom: 1px solid black;
      padding: 3px;
      max-width: 1px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: middle;

      .invite-url {
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        .invite-number {
          font-weight: bold;
        }
      }

      .invite-input {
        border: none;
        padding: 0;
        display: inline-block;
        margin-left: 6px;
        font-style: italic;
        background: lighten($colorHighlight, 20);
      }

      .input-link {
        border: none;
        font-size: 10px;
      }

      .invite-label {
        width: 100%;
      }
    }
  }
}

.align-right {
  text-align: right;
}
