.invite-box {
  margin-top: 40px;
}

.invite-url {
  a {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.table {
  .invite-tr {
    &:last-child {
      td {
        border: none;
      }
    }
    td {
      border-bottom: 1px solid black;
      padding: 3px;
      max-width: 1px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .invite-url {
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        a {
          color: #888;
        }

        .invite-number {
          font-weight: bold;
        }
      }

      .input-link {
        border: none;
        font-size: 10px;
      }
    }
  }
}

.align-right {
  text-align: right;
}
