@import '../Variables.scss';

.invite-box {
  margin-top: 40px;
}

.invite-url {
  a {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.table {
  .invite-tr {
    &:last-child {
      td {
        border: none;
      }
    }
    td {
      // border-bottom: 1px solid black;
      padding: 3px;
      max-width: 1px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: middle;

      .invite-url {
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        .invite-number {
          font-weight: bold;
        }
      }

      .invite-input {
        border: none;
        padding: 0;
        display: inline-block;
        margin-left: 6px;
        font-style: italic;
        background: lighten($colorHighlight, 20);
      }

      .input-link {
        border: none;
        font-size: 10px;
      }

      .invite-label {
        width: 100%;
      }
    }
  }
}

.rsvp-text {
  text-align: center;
  $color: white;
  p.invited-text {
    font-style: italic;
  }

  h1 {
    font-size: 32px;
    color: white;
    margin-top: 20px;
    padding-top: 30px;
    margin-bottom: 20px;
    font-family: $fontRegular;
  }

  .sub-head {
    margin-bottom: 30px;
  }

  h4 {
    opacity: 1;
    font-size: 16px;
  }

  h3 {
    font-family: $fontRegular;
    color: $color;
    font-size: 20px;
    text-transform: none;
    margin-top: 30px;
  }

  h5 {
    color: $color;
    margin: 0;
    font-size: 20px;
  }

  p.detail-text {
    margin-top: 20px;
    opacity: .6;
    font-size: 12px;
    font-style: italic;
  }

  p.sponsor-text {
    margin-top: 15px;
    opacity: .6;
    font-size: 9px;
  }

}

.align-right {
  text-align: right;
}
