<div class="slide cascade">
  <div class="container-fluid center-item">
    <div class="row">
      <div class="col-sm-3 col-sm-offset-3 right left-xs">
        <h1>Cascade.</h1>
        <h4>July 24th, 2015, 9pm</h4>
          <div class="visible-xs">
            <h3>Come join us July 24th for drinks and dancing under the stars in Brooklyn.</h3>
            <h3>Cocktails created by New York's <a href="http://newyork.seriouseats.com/2010/04/my-favorite-bar-ward-iii-in-tribeca-3-manhattan-review.html">Ward III</a> with help from Idaho artist <a href="http://www.betsyhinze.com/#!experience/cdku">Betsy Hinze</a>.</h3>
          </div>
          <h4>
            Open bar. By invitation only. Location provided to confirmed guests.
          </h4>
        <div ng-hide="users.badInvite">
          <p><em>You were invited by {{ users.inviter.first_name }} {{ users.inviter.last_name }}</em></p>
          <a ng-show="!users.loading && users.inviter && users.inviter.invites > 0" ng-click="users.rsvp()" class="btn btn-lg btn-primary" href=""><i class="fa fa-facebook"></i> Facebook</a>
                    <a ng-show="!users.loading && users.inviter && users.inviter.invites > 0" ng-click="showRSVPForm = !showRSVPForm" class="btn btn-lg btn-primary" href=""><i class="fa fa-facebook"></i> Email</a>
          <form ng-submit="users.rsvpEmail(options)">
            <div ng-show="showRSVPForm">
              <div class="form-group">
                <input type="text" class="form-control" ng-model="options.first_name" id="first_name" placeholder="First Name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" ng-model="options.last_name" id="last_name" placeholder="Last Name">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" ng-model="options.email" name="email" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" ng-model="options.password" id="password" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-info">RSVP</button>
            </div>
        </div>
        <div ng-show="users.badInvite">
          <p>Uh oh. That invitation url has expired. You can ask whoever invited you to contact us if you think there's an error.</p>
        </div>
      </div>
      <div class="col-sm-3 left hidden-xs">
        <h3>You're invited.</h3>
        <h3>Come join us July 24th for drinks and dancing under the stars in Brooklyn.</h3>
        <h3>Cocktails created by New York's <a href="http://newyork.seriouseats.com/2010/04/my-favorite-bar-ward-iii-in-tribeca-3-manhattan-review.html">Ward III</a> with help from Idaho artist <a href="http://www.betsyhinze.com/#!experience/cdku">Betsy Hinze</a>.</h3>
    </div>
  </div>
</div>
