<div class="slide confirmation">
  <div class="container-fluid center-item">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 center">
        <h1 ng-show="users.requester">Hi {{ users.requester.first_name }}, thanks for requesting an invite. We'll let you know if we can accommodate.</h1>
        <div ng-show="users.invitee">
          <h1>Hi {{ users.invitee.first_name }}, thanks for RSVP'ing for Cascade.</h1>
          <h3 class="confirm-text">We'll send an email the week of the party with details and the location. <span ng-hide="{{ users.uinvitee.invites }}">You may invite <strong>{{ num(users.invitee.invites) }}</strong> more people by sending them the link below.</span></h3>
          <div ng-hide="{{ users.invitee.invites <  1 }}">
            <h2 class="invite-url"><strong>{{ users.inviteUrl }}</strong></h2>
          </div>
        </div>
        <div ng-hide="users.requester || users.invitee">
          <h1>Uh oh. This page has expired.</h1>
        </div>
      </div>
    </div>
  </div>
</div>
