<div class="slide home">
  <div class="container-fluid bottom-item">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-2 left">
        <h1><img class="icon" src="/images/icons/scuba-mask.svg" /> The free radicals.</h1>
        <p>NYC-based technologists, artists, and explorers with a penchant for good food and drink</p>
      </div>
      <div class="col-sm-2">
        <h4>Next party</h4>
        <a href="" ng-click="changePage()" class="btn btn-primary btn-block btn-lg">Cascade, <em>July 24th, 2014</em></a>
      </div>
    </div>
  </div>
</div>
